*{
    background-color: #c9afaf;
}

li{ 
    
    background-color: #9b6a7e;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;

}

h1{
    background-color: #7c5866;
    color: antiquewhite;
    width: 12rem;
    text-align: center;
}

.botones{
    background-color: rgb(225, 230, 230);
    width: 10rem;
    text-align: center;
}